.cartItemContainer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.imageContainer {
    width: 200px;
    height: 100%;
}

.imageContainer img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color: #444;
}

.priceContainer {
    color: #999;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    padding: 5px;
    background-color: #5bcbffe3;
    color: #2634ff;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.smallButton {
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding: 9px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 10px;
}

.quantity {
    color: #5bcbffe3;
    font-size: 25px;
    font-weight: 900;
}

.smallButton svg {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.rmvButton,
.decButton {
    box-shadow: inset 0 0 0 3px #5bcbffe3;
}

.incButton {
    background-color: #5bcbffe3;
}

.incButton:hover {
    background-color: #33bdfde3;
}

.rmvButton:hover,
.decButton:hover {
    background-color: #5bcbffe3;
    box-shadow: inset 0 0 0 3px #5bcbffe3;
}


/* Dark Theme Styles */

.cartItemContainer.dark {
    background-color: var(--primary-dark);
}

.cartItemContainer.dark .title {
    color: var(--third-dark);
}

.cartItemContainer.dark .priceContainer {
    color: var(--third-dark);
}

.cartItemContainer.dark .price {
    background-color: var(--secondary-dark);
    color: var(--third-dark);
}

.cartItemContainer.dark .quantity {
    color: var(--secondary-dark);
}

.cartItemContainer.dark .rmvButton,
.cartItemContainer.dark .decButton {
    box-shadow: inset 0 0 0 3px var(--secondary-dark);
    color: var(--third-dark);
}

.cartItemContainer.dark .incButton {
    background-color: var(--secondary-dark);
    color: var(--third-dark);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cartItemContainer.dark .incButton:hover svg {
    color: var(--fourth-dark);
}

.cartItemContainer.dark .rmvButton:hover,
.cartItemContainer.dark .decButton:hover {
    background-color: var(--secondary-dark);
    box-shadow: inset 0 0 0 3px var(--secondary-dark);
    color: var(--fourth-dark);
}