.modalContainer {
    width: 50%;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 70px;
}

.successIcon {
    color: rgb(0, 255, 0);
    font-size: 200px !important;
}

.successMessage {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 700;
}

.redirectMessage {
    margin-top: 10px;
    font-size: 20px;
}

.failureIcon {
    color: rgb(255, 8, 0);
    font-size: 200px !important;
}

.failureMessage {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 700;
}