* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  direction: rtl;
}


body {
  overflow-x: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("./assets/Circuit Board.svg");
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

body.dark {
  background-image: linear-gradient(rgba(0, 3, 67, 0.7), rgba(0, 3, 67, 0.7)), url("./assets/Circuit Board Dark.svg");
}


:root {
  /* Dark theme colors and style root */
  --primary-dark: #272727;
  --secondary-dark: #6572ff;
  --third-dark: #e9e9e9;
  --fourth-dark: #FFD700;
}