* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  direction: rtl;
}


body {
  overflow-x: hidden;
  /* background: linear-gradient(240deg, rgba(174, 54, 255, 0.4) 0%, rgba(235, 173, 255, 0.1) 100%); */
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("./assets/Circuit Board.svg");
}

:root {
  --navy-blue: #04004c;
  --medium-blue: #0102D8ff;
  --ghost-white: #f4f7fe;
  --lavender-web: #d3d4d8;
  --black: #000000ff;
}